<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangas</title>
</head>
<body>
    {% for p in mangas %}
    <li>{{p}}</li> 
    {% if p.nombreDelManga %}
    <button>
        <a href="{% url 'eliminar_manga' p.nombreDelManga %}">Eliminar</a>
    </button>
    <button>
        <a href="{% url 'editar_manga' p.nombreDelManga %}">Editar</a>
    </button>
    {% endif %}
    {% endfor %}
    <br><br>
    <button>
        <a href="{% url 'mangas' %}">Agregar manga</a>
    </button>
    <button>
        <a href="{% url 'index' %}">Volver a inicio</a>
    </button>
</body>
</html>